.sectionArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
  width: 50vw;
  position: absolute;
  transition: all 200ms ease-out;
}

#getHelp {
  background-color: #4caf50;
}

.sectionArea.expanded {
  height: 100%;
  width: 100%;
  z-index: 1001;
}

.get-help-text-container {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.get-help-text-container button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  margin: 2vw;
}
