.sectionArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
  width: 50vw;
  position: absolute;
  transition: all 200ms ease-out;
}
#help {
  right: 0;
  background-color: #ff9d28;
}

.sectionArea.expanded {
  height: 100%;
  width: 100%;
  z-index: 1001;
}

.help__textContainer {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.help__textContainer button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  margin: 2vw;
}
