.sectionArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
  width: 50vw;
  position: absolute;
  transition: all 200ms ease-out;
}

#emergency {
  background-color: #3f3fc2;
  width: 100%;
  height: 100%;
}

.helpButton {
  font-size: 25vw;
  padding: 4vw;
  font-weight: 700;
	background-color: white;
	border: 0;
	outline: 0;
  color: #3f3fc2;
}
.helpButton:focus {
	outline: 0;
}
.helpButton:active {
	outline: 0;
}

.goBack {
	margin-left: 10px;
	margin-top: 5px;
	display: flex;
  font-size: 5vw;
  color: white;
  background-color: transparent;
  border: transparent;
	align-items: center;
}

.goBack img {
  width: 6vw;
}

.helpInformation {
  font-size: 10vw;
  color: #3f3fc2;
  background-color: white;
  font-weight: 700;
  width: 90%;
}
