.section-area-gethelp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
  width: 50vw;
  background-color: #4caf50;
  position: absolute;
  transition: all 200ms ease-out;
}

.section-area-gethelp.expanded {
  height: 100%;
  width: 100%;
  z-index: 1001;
}

.get-help-text-container {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #ffffff;
  width: 90%;
  height: 94%;
}

.get-help-text-container button {
  border: none;
  cursor: pointer;
  position: fixed;
  margin: 7vw;
}

.homeButtonGreen {
  top: 1.2vw;
  right: 0vw;
  background-color: transparent;
}

.prevButton {
  bottom: 0.5rem;
  left: 36vw;
  background-color: #afafaf;
}

.nextButton {
  bottom: 0.5rem;
  right: 36vw;
  background-color: #afafaf;
}

.section-area-gethelp mark {
  background-color: #4caf50;
  color: #ffffff;
  padding: 1.2vw;
}

.section-area-gethelp h1 {
  font-size: 9vw;
  font-weight: 900;
  margin: 7.2vw 5vw 8vw 6vw;
}

.section-area-gethelp h2 {
  font-size: 5vw;
  font-weight: 500;
  color: #4caf50;
  margin: 2.5vw;
}

.section-area-gethelp h3 {
  font-size: 3.6vw;
  font-weight: 600;
  color: #4caf50;
  margin-left: 2.5vw;
}

.section-area-gethelp p {
  font-size: 3.7vw;
  margin: 2.5vw;
  margin-bottom: 6vw;
  color: #000000;
}

.section-area-gethelp b {
  font-weight: 900;
}

.section-area-gethelp ul {
  padding-left: 5vw;
}

.section-area-gethelp li {
  padding-bottom: 3vw;
}
