.section-area {
  position: absolute;
  transition: all 200ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 60%;
}

#help {
  background-color: #ff9d28;
  width: 50vw;
  height: 50vw;
  top: 0;
  right: 0;
}
#settings {
  background-color: #9f54ff;
  width: 50vw;
  height: 50vw;
  bottom: 0;
  left: 0;
}
#location {
  background-color: #ff4874;
  width: 50vw;
  height: 50vw;
  bottom: 0;
  right: 0;
}
